html {
  font-family: Kiwi Maru;
  margin: 0;
  background-color: #ffefc3;
}

html body {
  margin: 0;
}

html body h2 {
  text-align: center;
  font-size: 5vw;
}

html body .swiper {
  height: 200px;
}

.center {
  z-index: 3;
  width: 10px;
  height: 10px;
  position: fixed;
}

header {
  position: relative;
  background-color: #d3a54f;
}

header h1 {
  font-size: 11vw;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding-bottom: 50px;
}

header img {
  width: 100%;
}

main .self_introduction {
  margin: 20px 30px;
}

main .self_introduction h2 {
  position: relative;
  z-index: 2;
  overflow: hidden;
}

main .self_introduction h2 span {
  font-size: 50px;
  position: relative;
  opacity: 0;
  top: 45px;
  font-size: 10vw;
}

main .self_introduction h2 span.c_0 {
  -webkit-animation-name: self_introduction_h;
          animation-name: self_introduction_h;
  -webkit-animation-delay: 0.11111s;
          animation-delay: 0.11111s;
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

main .self_introduction h2 span.c_1 {
  -webkit-animation-name: self_introduction_h;
          animation-name: self_introduction_h;
  -webkit-animation-delay: 0.22222s;
          animation-delay: 0.22222s;
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

main .self_introduction h2 span.c_2 {
  -webkit-animation-name: self_introduction_h;
          animation-name: self_introduction_h;
  -webkit-animation-delay: 0.33333s;
          animation-delay: 0.33333s;
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

main .self_introduction h2 span.c_3 {
  -webkit-animation-name: self_introduction_h;
          animation-name: self_introduction_h;
  -webkit-animation-delay: 0.44444s;
          animation-delay: 0.44444s;
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

main .self_introduction h2 span.c_4 {
  -webkit-animation-name: self_introduction_h;
          animation-name: self_introduction_h;
  -webkit-animation-delay: 0.55556s;
          animation-delay: 0.55556s;
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

main .self_introduction h2 span.c_5 {
  -webkit-animation-name: self_introduction_h;
          animation-name: self_introduction_h;
  -webkit-animation-delay: 0.66667s;
          animation-delay: 0.66667s;
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

main .self_introduction h2 span.c_6 {
  -webkit-animation-name: self_introduction_h;
          animation-name: self_introduction_h;
  -webkit-animation-delay: 0.77778s;
          animation-delay: 0.77778s;
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

main .self_introduction h2 span.c_7 {
  -webkit-animation-name: self_introduction_h;
          animation-name: self_introduction_h;
  -webkit-animation-delay: 0.88889s;
          animation-delay: 0.88889s;
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

main .self_introduction h2 .h_border {
  z-index: -1;
  position: relative;
  top: -20px;
  margin: 0 auto;
  width: 70%;
  height: 15px;
  background-color: #f59f00;
}

@-webkit-keyframes self_introduction_h {
  0% {
    opacity: 0;
    top: 45px;
  }
  100% {
    opacity: 1;
    top: -10px;
  }
}

@keyframes self_introduction_h {
  0% {
    opacity: 0;
    top: 45px;
  }
  100% {
    opacity: 1;
    top: -10px;
  }
}

main .self_introduction .contents_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .self_introduction .contents_container .img_container {
  margin: 0;
  width: 40%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .self_introduction .contents_container .img_container img {
  border-radius: 5%;
  max-width: 85%;
  height: auto;
  -webkit-box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.2);
}

main .self_introduction .contents_container .text {
  max-width: 60%;
  font-size: 2.5vw;
}

main .skill {
  margin: 20px 50px;
}

main .skill h2 {
  margin-bottom: 150px;
  position: relative;
}

main .skill h2 span {
  display: inline-block;
  position: relative;
  -webkit-transform: scale(0);
          transform: scale(0);
  font-size: 10vw;
}

main .skill h2.appear span.c_0 {
  -webkit-animation-name: self_introduction_h2;
          animation-name: self_introduction_h2;
  -webkit-animation-delay: 0.11111s;
          animation-delay: 0.11111s;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

main .skill h2.appear span.c_1 {
  -webkit-animation-name: self_introduction_h2;
          animation-name: self_introduction_h2;
  -webkit-animation-delay: 0.22222s;
          animation-delay: 0.22222s;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

main .skill h2.appear span.c_2 {
  -webkit-animation-name: self_introduction_h2;
          animation-name: self_introduction_h2;
  -webkit-animation-delay: 0.33333s;
          animation-delay: 0.33333s;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

main .skill h2.appear span.c_3 {
  -webkit-animation-name: self_introduction_h2;
          animation-name: self_introduction_h2;
  -webkit-animation-delay: 0.44444s;
          animation-delay: 0.44444s;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

main .skill h2.appear span.c_4 {
  -webkit-animation-name: self_introduction_h2;
          animation-name: self_introduction_h2;
  -webkit-animation-delay: 0.55556s;
          animation-delay: 0.55556s;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

main .skill h2.appear span.c_5 {
  -webkit-animation-name: self_introduction_h2;
          animation-name: self_introduction_h2;
  -webkit-animation-delay: 0.66667s;
          animation-delay: 0.66667s;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

main .skill h2.appear span.c_6 {
  -webkit-animation-name: self_introduction_h2;
          animation-name: self_introduction_h2;
  -webkit-animation-delay: 0.77778s;
          animation-delay: 0.77778s;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

main .skill h2.appear span.c_7 {
  -webkit-animation-name: self_introduction_h2;
          animation-name: self_introduction_h2;
  -webkit-animation-delay: 0.88889s;
          animation-delay: 0.88889s;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

main .skill h2.appear span.c_8 {
  -webkit-animation-name: self_introduction_h2;
          animation-name: self_introduction_h2;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

main .skill h2.appear span.c_9 {
  -webkit-animation-name: self_introduction_h2;
          animation-name: self_introduction_h2;
  -webkit-animation-delay: 1.11111s;
          animation-delay: 1.11111s;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

main .skill h2.appear span.c_10 {
  -webkit-animation-name: self_introduction_h2;
          animation-name: self_introduction_h2;
  -webkit-animation-delay: 1.22222s;
          animation-delay: 1.22222s;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

main .skill h2.appear span.c_11 {
  -webkit-animation-name: self_introduction_h2;
          animation-name: self_introduction_h2;
  -webkit-animation-delay: 1.33333s;
          animation-delay: 1.33333s;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes self_introduction_h2 {
  0% {
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes self_introduction_h2 {
  0% {
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

main .skill h2 .h_border {
  z-index: -1;
  position: absolute;
  top: 90%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  margin: 0 auto;
  width: 95%;
  height: 15px;
  background-color: #f59f00;
}

main .skill .item_container .item_box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
  height: 305px;
  width: 100%;
}

main .skill .item_container .item_box.right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

main .skill .item_container .item_box.right .text {
  text-align: left;
}

main .skill .item_container .item_box.left {
  overflow: hidden;
}

main .skill .item_container .item_box .cover {
  background-color: #ffefc3;
  position: absolute;
  z-index: 2;
  width: 102%;
  height: 305px;
}

main .skill .item_container .item_box .cover.left.appear {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: 5s;
  transition: 5s;
}

main .skill .item_container .item_box .cover.right.appear {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: 5s;
  transition: 5s;
}

main .skill .item_container .item_box .back {
  z-index: -1;
  top: 0%;
  position: absolute;
  width: 99%;
  height: 294px;
  background-color: #fdfdfd;
  -webkit-box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.2);
  border-color: #eb6101;
  border-width: 3px;
  border-style: ridge;
}

main .skill .item_container .item_box .back.left {
  border-radius: 100vw 0% 0% 100vw;
}

main .skill .item_container .item_box .back.right {
  border-radius: 0 100vw 100vw 0;
}

main .skill .item_container .item_box .item {
  position: relative;
  z-index: 2;
  border-color: #eb6101;
  border-width: 3px;
  border-style: solid;
  -webkit-transition: all 0s;
  transition: all 0s;
  border-radius: 100%;
  overflow-wrap: break-word;
  font-size: 35px;
  font-weight: 900;
  background-color: white;
  margin: 0;
  min-width: 294px;
  max-width: 294px;
  height: 294px;
  -webkit-box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.2);
  -webkit-transition: 1s;
  transition: 1s;
}

main .skill .item_container .item_box .item.appear {
  cursor: pointer;
  background-color: #d39545;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: aliceblue;
}

main .skill .item_container .item_box .item.appear .word {
  font-size: 40px;
  -webkit-transition: 1s;
  transition: 1s;
}

main .skill .item_container .item_box .item .word {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 33%;
  margin: 0;
  text-align: center;
  margin: auto;
}

main .skill .item_container .item_box .text {
  position: relative;
  display: block;
  max-width: 100%;
  height: 294px;
  font-size: 30px;
  -webkit-transition: 2s;
  transition: 2s;
  overflow: hidden;
}

main .skill .item_container .item_box .text p {
  height: 33%;
  margin: 0;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .skill .item_container .item_box .text .php {
  height: 50%;
}

main .skill .item_container .item_box .text .wp {
  height: 50%;
}

main .skill .item_container .item_box .text.right {
  position: relative;
  left: 15px;
  width: 100%;
}

main .works {
  overflow: hidden;
  height: 1050px;
}

main .works .swiper-container {
  width: 100%;
  height: auto;
  position: relative;
}

main .works .swiper-container .swiper-pagination {
  position: absolute;
  top: 100%;
}

main .works .swiper-container .swiper-wrapper {
  max-width: 100%;
  height: auto;
  text-align: center;
}

main .works .swiper-container .swiper-wrapper .swiper-slide {
  max-width: 50%;
  height: auto;
}

main .works .swiper-container .swiper-wrapper .swiper-slide .item {
  width: 85%;
  margin: 0 auto;
}

main .works .swiper-container .swiper-wrapper .swiper-slide .item .img_container {
  width: 100%;
  text-align: center;
}

main .works .swiper-container .swiper-wrapper .swiper-slide .item .img_container img {
  max-width: 500px;
  min-width: 210px;
  width: 100%;
  height: auto;
  -webkit-box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.2);
}

main .works .swiper-container .swiper-wrapper .swiper-slide .item a {
  font-weight: 900;
  position: relative;
  margin: 0 auto;
  margin-top: 5px;
  display: block;
  width: 95%;
  max-width: 500px;
  min-width: 210px;
  height: 50px;
  background-color: aliceblue;
  font-size: 18px;
  color: black;
  -webkit-box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.2);
  border: 2px solid #000000;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .works .swiper-container .swiper-wrapper .swiper-slide .item a:active {
  top: 5px;
  -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2);
}

main .works .swiper-container .swiper-wrapper .swiper-slide .item a:hover {
  cursor: pointer;
}

main .works .swiper-container .swiper-wrapper .swiper-slide .item p {
  margin: 0 auto;
  max-width: 500px;
  min-width: 210px;
}

main .works h2 {
  position: relative;
  margin-bottom: 100px;
}

main .works h2 span {
  font-size: 10vw;
  position: relative;
  top: -50px;
  opacity: 0;
}

main .works h2 .h_border {
  z-index: -1;
  position: absolute;
  top: 90%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  margin: 0 auto;
  width: 90%;
  height: 15px;
  background-color: #f59f00;
}

main .works h2.appear span.c_0 {
  -webkit-animation-name: self_introduction_h3;
          animation-name: self_introduction_h3;
  -webkit-animation-delay: 0.11111s;
          animation-delay: 0.11111s;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

main .works h2.appear span.c_1 {
  -webkit-animation-name: self_introduction_h3;
          animation-name: self_introduction_h3;
  -webkit-animation-delay: 0.22222s;
          animation-delay: 0.22222s;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

main .works h2.appear span.c_2 {
  -webkit-animation-name: self_introduction_h3;
          animation-name: self_introduction_h3;
  -webkit-animation-delay: 0.33333s;
          animation-delay: 0.33333s;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

main .works h2.appear span.c_3 {
  -webkit-animation-name: self_introduction_h3;
          animation-name: self_introduction_h3;
  -webkit-animation-delay: 0.44444s;
          animation-delay: 0.44444s;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

main .works h2.appear span.c_4 {
  -webkit-animation-name: self_introduction_h3;
          animation-name: self_introduction_h3;
  -webkit-animation-delay: 0.55556s;
          animation-delay: 0.55556s;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

main .works h2.appear span.c_5 {
  -webkit-animation-name: self_introduction_h3;
          animation-name: self_introduction_h3;
  -webkit-animation-delay: 0.66667s;
          animation-delay: 0.66667s;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

main .works h2.appear span.c_6 {
  -webkit-animation-name: self_introduction_h3;
          animation-name: self_introduction_h3;
  -webkit-animation-delay: 0.77778s;
          animation-delay: 0.77778s;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

main .works h2.appear span.c_7 {
  -webkit-animation-name: self_introduction_h3;
          animation-name: self_introduction_h3;
  -webkit-animation-delay: 0.88889s;
          animation-delay: 0.88889s;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes self_introduction_h3 {
  0% {
  }
  100% {
    opacity: 1;
    top: 0px;
  }
}

@keyframes self_introduction_h3 {
  0% {
  }
  100% {
    opacity: 1;
    top: 0px;
  }
}

main .works .work_item_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

main .works .work_item_container .item {
  width: 300px;
  text-align: center;
}

main .works .work_item_container .item .img_container {
  width: 100%;
  text-align: center;
}

main .works .work_item_container .item .img_container img {
  width: 95%;
  height: auto;
  -webkit-box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.2);
}

main .works .work_item_container .item a {
  font-weight: 900;
  position: relative;
  margin: 0 auto;
  margin-top: 5px;
  display: block;
  width: 95%;
  height: 50px;
  background-color: aliceblue;
  font-size: 18px;
  color: black;
  -webkit-box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.2);
  border: 2px solid #000000;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .works .work_item_container .item a:active {
  top: 5px;
  -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2);
}

main .works .work_item_container .item a:hover {
  cursor: pointer;
}

main .contact {
  width: 60%;
  margin: 0 auto 50px auto;
}

main .contact h2 {
  position: relative;
  margin-bottom: 80px;
}

main .contact h2 span {
  position: relative;
  font-size: 10vw;
}

main .contact h2 span.c_0 {
  top: -50px;
  opacity: 0;
}

main .contact h2 span.c_1 {
  top: 50px;
  opacity: 0;
}

main .contact h2 span.c_2 {
  top: -50px;
  opacity: 0;
}

main .contact h2 span.c_3 {
  top: 50px;
  opacity: 0;
}

main .contact h2 span.c_4 {
  top: -50px;
  opacity: 0;
}

main .contact h2 span.c_5 {
  top: 50px;
  opacity: 0;
}

main .contact h2 span.c_6 {
  top: -50px;
  opacity: 0;
}

main .contact h2 .h_border {
  z-index: -1;
  position: absolute;
  top: 85%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  margin: 0 auto;
  width: 120%;
  height: 15px;
  background-color: #f59f00;
}

main .contact h2.appear span.c_0 {
  -webkit-animation-name: self_introduction_h3;
          animation-name: self_introduction_h3;
  -webkit-animation-delay: 0.11111s;
          animation-delay: 0.11111s;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

main .contact h2.appear span.c_1 {
  -webkit-animation-name: self_introduction_h3;
          animation-name: self_introduction_h3;
  -webkit-animation-delay: 0.22222s;
          animation-delay: 0.22222s;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

main .contact h2.appear span.c_2 {
  -webkit-animation-name: self_introduction_h3;
          animation-name: self_introduction_h3;
  -webkit-animation-delay: 0.33333s;
          animation-delay: 0.33333s;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

main .contact h2.appear span.c_3 {
  -webkit-animation-name: self_introduction_h3;
          animation-name: self_introduction_h3;
  -webkit-animation-delay: 0.44444s;
          animation-delay: 0.44444s;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

main .contact h2.appear span.c_4 {
  -webkit-animation-name: self_introduction_h3;
          animation-name: self_introduction_h3;
  -webkit-animation-delay: 0.55556s;
          animation-delay: 0.55556s;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

main .contact h2.appear span.c_5 {
  -webkit-animation-name: self_introduction_h3;
          animation-name: self_introduction_h3;
  -webkit-animation-delay: 0.66667s;
          animation-delay: 0.66667s;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

main .contact h2.appear span.c_6 {
  -webkit-animation-name: self_introduction_h3;
          animation-name: self_introduction_h3;
  -webkit-animation-delay: 0.77778s;
          animation-delay: 0.77778s;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

main .contact h2.appear span.c_7 {
  -webkit-animation-name: self_introduction_h3;
          animation-name: self_introduction_h3;
  -webkit-animation-delay: 0.88889s;
          animation-delay: 0.88889s;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

main .contact p {
  font-size: 25px;
  text-align: center;
}

main .contact .contact_select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

main .contact .contact_select .mailer {
  text-align: center;
}

main .contact .contact_select .mailer .open_mail {
  font-size: 30px;
}

main .contact form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

main .contact form input {
  width: 400px;
  margin: 0 auto;
  -webkit-box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.2);
  margin-bottom: 15px;
}

main .contact form textarea {
  width: 500px;
  height: 300px;
  margin: 0 auto;
  -webkit-box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.2);
  margin-bottom: 15px;
}

main .contact form .submit {
  position: relative;
  font-size: 20px;
  font-weight: 900;
  width: 120px;
  -webkit-box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.2);
}

main .contact form .submit:active {
  top: 5px;
  -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2);
}

main .contact form .submit:hover {
  cursor: pointer;
}

.h3 {
  text-align: center;
}

.input_data {
  width: 60%;
  max-width: 800px;
  margin: 0px auto;
  overflow-wrap: break-word;
  -webkit-box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.2);
  border: 2px solid #000000;
  text-align: center;
}

.input_data .title {
  background-color: #eb6101;
  color: white;
  padding: 5px 0;
}

.input_data .data {
  background-color: white;
}

.input_data .ng {
  font-weight: 900;
}

.confirmation {
  text-align: center;
}

.btn_container {
  margin-top: 20px;
  text-align: center;
}

.btn_container .btn {
  position: relative;
  margin: 0 5px;
  font-size: 20px;
  font-weight: 900;
  max-width: 80px;
  min-width: 80px;
  -webkit-box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.2);
}

.btn_container .btn:active {
  top: 5px;
  -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2);
}

.btn_container .btn:hover {
  cursor: pointer;
}

.send_box {
  width: 30%;
  height: auto;
  max-width: 500px;
  margin: 100px auto 0 auto;
  overflow-wrap: break-word;
  -webkit-box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.2);
  border: 2px solid #000000;
  text-align: center;
  background-color: white;
}

.send_box .send_img {
  width: 50%;
  margin: 0 auto;
}

.send_box .send_img img {
  max-width: 100%;
  height: auto;
}

.send_box .send_message {
  font-size: 20px;
  margin-bottom: 20px;
}

.return_top {
  margin: 10px auto 0 auto;
}

.return_top button {
  display: block;
  position: relative;
  margin: 0 auto;
  font-size: 20px;
  font-weight: 900;
  max-width: 100px;
  min-width: 80px;
  -webkit-box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.2);
}

.return_top button:active {
  top: 5px;
  -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2);
}

.return_top button:hover {
  cursor: pointer;
}

.return_top button a {
  text-decoration: none;
  color: #000000;
}

@media screen and (min-width: 1024px) {
  .item_container.tab {
    display: none;
  }
}

@media screen and (max-width: 1023px) {
  .item_container.pc {
    display: none;
  }
  h1 {
    font-size: 50px !important;
  }
  .img_container {
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
  .img_container img {
    margin: 15px 0;
  }
  .skill h2 {
    margin-bottom: 80px !important;
  }
  .skill_item .text {
    margin-bottom: 50px;
    border-color: #eb6101;
    border-width: 3px;
    border-style: solid;
    background-color: white;
    -webkit-box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.2);
            box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.2);
    -webkit-transform: rotateX(90deg);
            transform: rotateX(90deg);
  }
  .skill_item .text.appear {
    -webkit-animation-name: animation_3;
            animation-name: animation_3;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }
  .skill_item h3 {
    text-align: center;
  }
  @-webkit-keyframes animation_3 {
    0% {
    }
    100% {
      -webkit-transform: rotateX(0deg);
              transform: rotateX(0deg);
    }
  }
  @keyframes animation_3 {
    0% {
    }
    100% {
      -webkit-transform: rotateX(0deg);
              transform: rotateX(0deg);
    }
  }
  .works {
    max-height: 800px !important;
  }
  input {
    width: 300px !important;
  }
  textarea {
    width: 380px !important;
    height: 200px !important;
  }
  .submit {
    width: 80px !important;
  }
}

@media screen and (max-width: 800px) {
  .works {
    max-height: 700px !important;
  }
}
/*# sourceMappingURL=style.css.map */